<nav-list>
    <menu-item>
        <span class="icon-{navIcon} header primary accent"></span>
    </menu-item>
    <menu-item action="delete" class="disabled {navDeleteHide}">
        <span class="icon-delete main icon"></span>
        <span>Delete</span>
    </menu-item>
    <menu-item action="edit"  class="disabled {navEditHide}">
        <span class="icon-edit main icon"></span>
        <span>Edit</span>
    </menu-item>
    <menu-item class="{navNewHide}">
        <a href="{navNewUrl}" class="flex-box align-center">
            <span class="icon-add main icon"></span>
            <span class="hide-span-medium-down">Add</span>
        </a>
    </menu-item>
</nav-list>