
///variables,mixins,theme------------------------------------------------------

@import "variables";
@import "mixins";
@import "theme";
@include elliptical-skeleton();
//@include elliptical-animations();
@include responsive-size();

///sass components ---------------------------------------------
@import "sass-components";

/// fonts -----------------------------------------------------------
@include roboto-standard();
@include roboto-light();
@include roboto-thin();
@include roboto-medium();

///icons------------------------------------------------------
@include md-icons();


/// document -------------------------------------------------
body{
  font-family:'robotoregular';
  background:#eee;
  min-height: 100vh;
  height:100vh;
  color:#666;
}

///typography-----------------------------------------------
@import "typography";


///grid -----------------------------------------------------
@include md-grid-box();


///forms------------------------------------------------------
@include md-forms($map:(primary:map-deep-get($MD,color,blue,value)));
@import "forms";

///web components---------------------------------------------
@import "web-components";//


///content pages & sections----------------------------------------
@import "content";



///media queries---------------------------------------------------
@import "media-queries";



















