<section class="full-white">
    {>"shared.order.md-bar" /}
    <md-layout ea-bind="user">
        <side-panel class="border-right">
            {#order}
                <nav-list>
                    <menu-item>
                        <a href="/Order/Detail/{id}" class="flex-box align-center">
                            <span class="icon-shop-two main icon"></span>
                            <span class="hide-span-medium-down">Order</span>
                        </a>
                    </menu-item>
                    <menu-item>
                        <a href="/Order/List/1?$orderByDesc=OrderDate" class="flex-box align-center">
                            <span class="icon-search main icon"></span>
                            <span class="hide-span-medium-down">Orders</span>
                        </a>
                    </menu-item>
                </nav-list>
            {/order}
            {^order}
                <nav-list>
                    <menu-item>
                        <span class="icon-shop header primary accent large"></span>
                    </menu-item>
                </nav-list>
            {/order}
        </side-panel>
        <main-panel class="padding" scroll>
            {#order}
                <silicon-form class="md form-width" service="OrderAlert" notify-service="Notify"
                              success-message="Order Alert Sent" location-service="Location" redirect-previous-location="true">
                    <form role="form" method="post">
                        <input type="hidden" name="id" value="{id}">
                        <input type="hidden" name="email" value="{email}">
                        <md-input icon="warning" prefix="prefix" type="text" required
                                  label="Order Alert Title" data-id="key" data-name="key"></md-input>
                        <md-textarea icon="info-outline" prefix="prefix" required
                                     label="Description" data-id="value" data-name="value"></md-textarea>


                        <md-submit class="primary margin-top two" raised="true">Send Notification</md-submit>
                    </form>
                </silicon-form>
            {/order}
            {^order}
                <p style="padding:1em;">There is no order currently associated with the requested id...</p>
            {/order}
        </main-panel>
    </md-layout>
</section>
