<section class="full-white">
    <md-bar>
        <side-panel>
            {#user}
                <img src="{@placeholder value="{avatar}" defaultValue="/images/assets/default-avatar.jpg"  /}" class="md-avatar size-50">
                <flex-box class="align-center padding-left hide-for-large-screen-down">
                    <div class="{activeHide}" active>
                        <span class="icon-check primary accent icon"></span>
                        <span class="primary accent icon">active</span>
                    </div>
                    <div class="{blockHide}" blocked>
                        <span class="icon-check app red icon"></span>
                        <span class="app red icon">blocked</span>
                    </div>
                </flex-box>
            {/user}
        </side-panel>
        <main-panel>
            {#user}
                <h3><span>{firstName}</span> <span>{lastName}</span></h3>
                <flex-box class="align-center">
                    <span class="icon-launch secondary accent icon small-margin-right"></span>
                    <a href="mailto:{email}" class="secondary size-12" data-route="false">{email}</a>
                </flex-box>
            {/user}
        </main-panel>
    </md-bar>
    <md-layout ea-bind="user">
        <side-panel class="border-right" ea-bind="user-detail">
            {#user}
                <nav-list>
                    <menu-item>
                        <span class="icon-person header primary accent"></span>
                        <span>joined: {@formatDate value="{signUpDate}" /}</span>
                    </menu-item>
                    <menu-item action="delete" data-id="{id}">
                        <span class="icon-delete main icon"></span>
                        <span>Delete</span>
                    </menu-item>
                    <menu-item class="order-history">
                        <a href="/UserOrder/List/{id}/1" class="flex-box align-center"><span class="icon-shop main icon"></span>
                            <span class="hide-for-large-screen-down">Orders</span>
                            {@gt key=orderCount value=0}
                                <span class="md-badge purple hide-for-large-screen-down margin-left">{orderCount}</span>
                            {/gt}
                        </a>
                    </menu-item>
                    <menu-item>
                        <a href="/User/Password/{id}" class="flex-box align-center">
                            <span class="icon-vpn-key main icon"></span>
                            <span class="hide-span-medium-down">Reset Password</span>
                        </a>
                    </menu-item>
                    <menu-item action="block" data-id="{id}" data-active="{active}" class="disabled">
                        <span class="icon-block main icon"></span>
                        <span>Block</span>
                    </menu-item>
                    <menu-item>
                        <a href="/User/Notify/{id}" class="flex-box align-center">
                            <span class="icon-notifications main icon"></span>
                            <span class="hide-span-medium-down">Notification</span>
                        </a>
                    </menu-item>
                    <menu-item class="{@locationZipCode value="{zipCode}" /}">
                        <a href="/User/Location/{id}?street={street}&city={city}&state={state}&zipCode={zipCode}&firstName={firstName}&lastName={lastName}&email={email}"
                           class="flex-box align-center">
                            <span class="icon-location-on main icon"></span>
                            <span class="hide-span-medium-down">Location</span>
                        </a>
                    </menu-item>
                    <menu-item>
                        <a href="/User/List/1" class="flex-box align-center">
                            <span class="icon-search main icon"></span>
                            <span class="hide-span-medium-down">Users</span>
                        </a>
                    </menu-item>
                </nav-list>
            {/user}
            {^user}
                <div class="primary-icon">
                    <span class="icon-person"></span>
                </div>
            {/user}
        </side-panel>
        <main-panel class="padding" scroll>
            {#user}
                <silicon-form class="md form-width" service="User" notify-service="Notify" location-service="Location"
                              redirect-previous-location="true" success-message="User Updated">
                    <form role="form" method="put">
                        <input type="hidden" name="id" value="{id}">
                        <md-input icon="edit" prefix="prefix" type="text"
                                  placeholder="First Name" data-id="firstName" data-name="firstName" data-value="{firstName}"></md-input>
                        <md-input icon="edit" prefix="prefix" type="text"
                                  placeholder="Last Name" data-id="lastName" data-name="lastName" data-value="{lastName}"></md-input>
                        <md-input icon="email" prefix="prefix" type="text" readonly required
                                  placeholder="Email" data-id="email" data-name="email" data-value="{email}"></md-input>
                        <md-input icon="edit" prefix="prefix" type="text"
                                  placeholder="Street Address" data-id="street" data-name="street" data-value="{street}"></md-input>
                        <md-input icon="location-city" prefix="prefix" type="text"
                                  placeholder="City" data-id="city" data-name="city" data-value="{city}"></md-input>
                        <md-state-select prefix-icon="my-location" md-select data-id="state" data-name="state"
                                         prefix="prefix" data-value="{state}"></md-state-select>
                        <md-input icon="location-on" prefix="prefix" type="text"
                                  placeholder="Zip Code" data-id="zipCode" data-name="zipCode" data-value="{zipCode}"></md-input>
                        <md-input icon="local-phone" prefix="prefix" type="text"
                                  placeholder="Phone Number" data-id="phoneNumber" data-name="phoneNumber" data-value="{phoneNumber}"></md-input>


                        <md-submit class="primary margin-top two" raised="true">Submit</md-submit>
                    </form>
                </silicon-form>
            {/user}
            {^user}
                <p style="padding:1em;">There is no user currently associated with the requested id...</p>
            {/user}
        </main-panel>
    </md-layout>
</section>
