<section class="content">
    <h4 class="padding-bottom">Account Login</h4>
    <div class="md-content">
        <br>
        <br>
        <flex-box class="column">
            <silicon-form class="md form-width" service="Profile">
                <form role="form" method="login" name="Profile">
                    <md-input icon="email" prefix="prefix" type="text" required placeholder="Email" data-id="username" data-name="username"></md-input>
                    <md-input icon="lock-open" prefix="prefix" type="password" required placeholder="Password" data-id="password" data-name="password"></md-input>
                    <md-submit class="primary" raised="true">Submit</md-submit>
                </form>
            </silicon-form>
        </flex-box>
    </div>
</section>