<section class="full-white">
    <md-bar>
        <side-panel>
          {#user}
              <img src="{avatar}" class="md-avatar size-50">

          {/user}
        </side-panel>
        <main-panel>
          {#user}
              <h3><span>{firstName}</span> <span>{lastName}</span></h3>
          {/user}
        </main-panel>
    </md-bar>
    <md-layout ea-bind="user">
        <side-panel class="border-right" ea-bind="user-detail">
          {#user}
              <nav-list>
                  <menu-item>
                      <span class="icon-person header primary accent"></span>
                      <span></span>
                  </menu-item>
              </nav-list>
          {/user}
        </side-panel>
        <main-panel class="padding" scroll>
          {#user}
              <silicon-form class="md form-width" service="Profile">
                  <form role="form" method="{method}" name="Profile">
                      <input type="hidden" name="id" value="{id}">
                      <md-input icon="lock-open" prefix="prefix" type="password" required placeholder="{@placeholder value="{password_placeholder}"  defaultValue="Password" /}" md-id="password" md-name="password" value="{password}"></md-input>

                      <md-submit class="primary" raised="true">Set Password</md-submit>
                  </form>
              </silicon-form>
          {/user}
        </main-panel>
    </md-layout>
</section>
